<p id="notice"><%= notice %></p>
<h1>Listing Video </h1>
<%= link_to new_video_path, :class => 'btn-floating btn-large waves-effect waves-light red' do %>
<i class="material-icons">add</i>
<% end %>

<ul class="collapsible" data-collapsible="accordion">
  <% @videos.each do |video| %>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">collections</i>
        <%= link_to video.title, video %>
        <span span class="badge">
          <%= link_to edit_video_path(video) do %>
          <i class="material-icons ">edit</i><% end %>
          <%= link_to video, method: :delete, data:{ confirm: 'Are You Sure?'} do %>
          <i class="material-icons ">event_busy</i><% end %>
        </span>

        </div>
        <div class="collapsible-body"><span><%= video.description %></span></div>
        
    </li>
  <% end %>
  </ul>
