<!DOCTYPE html>
<html>
  <head>
    <title>Onlinekelas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">OnlineKelas</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><i class="large material-icons">toc</i></i></a></li>
          <li><a href="<%= pages_about_path %>"><i class="large material-icons">comment</i></a></li>
          <li><a href="<%= pages_contact_path %>"><i class="large material-icons">location_on</i></a></li>

        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="#"><i class=" mdi-action-view-list "> </i></a></li>
      <li><a href="<%= pages_about_path %>"><i class="mdi-action-perm-identity"></i></a></li>
      <li><a href="<%= pages_contact_path %>"><i class="mdi-maps-place"></i></a></li>

    </ul>
    <div class="row">
      <div class="col m10 offset-m1">
        <%= yield %>
      </div>
    </div>


    <script>
      $(document).ready(function(){
    $('.sidenav').sidenav();
  });</script>
  </body>
</html>
